<div class="container">
  <div class="add-form-wrap">
    <form (submit)="onAddUser($event)">
      <input type="text" [(ngModel)]="todoText" name="add todo">
      <button type="submit">add</button>
    </form>
  </div>
  <div class="todo-list-wrap">
    <app-todo
      *ngFor="let todo of todoList; let i = index"
      [todoText]="todo.todoText"
      [todoCheck]="getTodoState(todo.todoCheck)"
      (editTodo)="onTodoEdit(i, $event)"
      (check)="onCheckTodo(i)"
      (delete)="onDeleteTodo(i)"
    ></app-todo>
  </div>
</div>
