button {
  width: 30%;
  height: 40px;
  background-color: lightgreen;
  border: none;
  color: #333;
  font-size: 20px;
  cursor: pointer;
}
.add-form-wrap form {
  display: flex;
}
.add-form-wrap input {
  width: 70%;
  height: 40px;
  font-size: 20px;
  padding: 0 10px;
  border: none;
}
.todo-list-wrap {
  margin: 30px 0;
}
