@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
/*common styles*/
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f1f3f5;
  min-height: 100%;
}
.container {
  padding-top: 30px;
  width: 900px;
  margin: auto;
}

