<div class="todo-item">
  <input type="text"
         #wrap
         [value]="todoText"
         [placeholder]="todoText"
         (focus)="onFocus(wrap)"
         (blur)="onBlur(wrap)"
         (input)="onTodoInput($event)"
         name="todo"
  >
  <div class="check {{ todoCheck }}" (click)="onCheck()">✓</div>
  <button (click)="onClickDelete()">delete</button>
</div>
