.todo-item {
  display: flex;
  padding: 16px;
  margin-bottom: 20px;
  background-color: #fff;
}
input {
  width: 100%;
  border: none;
  font-size: 18px;
  padding: 10px 20px 10px 0;
  margin-right: 10px;
  border-bottom: 1px solid transparent;
}
input.bordered {
  border-bottom: 1px solid #333333;
}
input:focus {
  outline: none;

}
.check {
  height: 40px;
  border: 1px solid #333;
  padding: 10px;
  cursor: pointer;
  margin-right: 6px;
}
.check.done {
  background-color: lightgreen;
}
button {
  height: 40px;
  background-color: tomato;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
